<app-about></app-about>
<app-contact></app-contact>
<app-home></app-home>
<app-services></app-services>
<app-product></app-product>
<app-header></app-header>
<app-button></app-button>
<app-card></app-card>
<app-box></app-box>
<app-counter></app-counter>
<app-message></app-message>
<app-toggle></app-toggle>
<app-dynamic-message></app-dynamic-message>
<app-message2></app-message2>
<app-user-dashboard></app-user-dashboard>
<app-counter2></app-counter2>
<app-content-display></app-content-display>
<app-dashboard></app-dashboard>
<app-timer></app-timer>
